<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movimientos"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Movimiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list inset="true">
    <ion-item>
      <ion-label>Producto</ion-label>
      <ion-select [(ngModel)]="movimiento.codigoProducto" interface="action-sheet" slot="end">
        <ion-select-option *ngFor="let producto of productos" [value]="producto.CODIGO">{{ producto.CODIGO }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Tipo Movimiento</ion-label>
      <ion-select [(ngModel)]="movimiento.tipoMovimiento" (ionChange)="onTipoMovimientoChange($event)" interface="action-sheet" slot="end">
        <ion-select-option value="Ingreso">Ingreso</ion-select-option>
        <ion-select-option value="Transferencia">Transferencia</ion-select-option>
        <ion-select-option value="Salida">Salida</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="mostrarProductoDestino">
      <ion-label>Producto Destino</ion-label>
      <ion-select [(ngModel)]="movimiento.productoDestino" interface="action-sheet">
        <ion-select-option *ngFor="let producto of productos" [value]="producto.CODIGO">{{ producto.CODIGO }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input type="number" [(ngModel)]="movimiento.cantidad"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha</ion-label>
      <ion-datetime display-format="MM/DD/YYYY" [(ngModel)]="movimiento.fecha"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Sucursal</ion-label>
      <ion-select [(ngModel)]="movimiento.sucursal" interface="action-sheet" slot="end">
        <ion-select-option value="Guayaquil">Guayaquil</ion-select-option>
        <ion-select-option value="Machala">Machala</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="registrarMovimiento()">Registrar Movimiento</ion-button>
</ion-content>
