<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Movimientos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="irARegistrarMovimiento()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list inset="true">
    <ion-item *ngFor="let movimiento of movimientos">
      <ion-label>
        <h2>{{ movimiento.CODIGO_PRODUCTO }}</h2>
        <p>{{ movimiento.TIPO_MOVIMIENTO }} - {{ movimiento.CANTIDAD }} lbs</p>
        <p>{{ movimiento.FECHA }} - {{ movimiento.SUCURSAL }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
