<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Movimientos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="registrarMovimiento()">
        <ion-icon slot="icon-only" name="add" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-segment value="ingresos" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="ingresos">
      <ion-label>Ingresos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="salidas">
      <ion-label>Salidas</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list inset="true" *ngIf="segmentValue === 'ingresos'">
    <ion-item *ngFor="let movimiento of ingresos" [ngClass]="getColorClass(movimiento.TIPO_MOVIMIENTO)">
      <ion-icon aria-hidden="true" name="git-compare" slot="start"></ion-icon>
      <ion-label>
        <h2>{{ movimiento.CODIGO_PRODUCTO }}</h2>
        <p>Tipo: {{ movimiento.TIPO_MOVIMIENTO }}</p>
        <p>Cantidad: {{ movimiento.CANTIDAD }} lbs</p>
        <p>Fecha: {{ movimiento.FECHA }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list inset="true" *ngIf="segmentValue === 'salidas'">
    <ion-item *ngFor="let movimiento of salidas" [ngClass]="getColorClass(movimiento.TIPO_MOVIMIENTO)">
      <ion-icon aria-hidden="true" name="git-compare" slot="start"></ion-icon>
      <ion-label>
        <h2>{{ movimiento.CODIGO_PRODUCTO }}</h2>
        <p>Tipo: {{ movimiento.TIPO_MOVIMIENTO }}</p>
        <p>Cantidad: {{ movimiento.CANTIDAD }} lbs</p>
        <p>Fecha: {{ movimiento.FECHA }}</p>
        <p *ngIf="movimiento.PRODUCTO_DESTINO">Producto Destino: {{ movimiento.PRODUCTO_DESTINO }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
