.ingreso {
    --background: #d4edda;
    --background-activated: #c3e6cb;
    --background-focused: #c3e6cb;
}

.salida {
--background: #f8d7da;
--background-activated: #f5c6cb;
--background-focused: #f5c6cb;
}

.transferencia {
--background: #ffeeba;
--background-activated: #ffeeba;
--background-focused: #ffeeba;
}